</div>
</div>
</div>
</div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="span8 offset2">
                            </div>
        </div>
  
  <div class="row">
            <div class="span4 offset2 copyright">
                <p class="pull-left">Copyright &copy; 2013 All rights reserved. </p>
            </div>   
   
            <div class="span4 pull-right social-icons">
<a href="/sitemap.html"><i class="icon-sitemap"></i></a><a href="https://plus.google.com/u/0/105951994557667533128/posts"><i class="icon-google-plus"></i></a>
<a href="https://www.facebook.com/bkhubbard" target="_blank"><i class="icon-facebook"></i></a>
<a href="https://github.com/bhubbard" target="_blank"><i class="icon-github"></i></a>
<a href="https://twitter.com/bhubbard" target="_blank"><i class="icon-twitter"></i></a>
<a href="https://www.linkedin.com/in/brandonhubbard" target="_blank"><i class="icon-linkedin"></i></a>
</div>    
            
        </div>
    </div>
</footer>



<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>


	{% include analytics.html %}

</body>
</html>