<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset='utf-8' />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Brandon Hubbard is a Los Angeles Based Web Developer currently building website for imFORZA." />
		<meta name="keywords" content="brandon hubbard, tech, media temple, imforza, mountain high, wordpress, coder" />
		<meta name="author" content="Brandon Hubbard" />

		<link rel="alternate" type="application/atom+xml" href="/feed/" title="Atom Feed" />

		<link rel="openid2.provider" href="https://www.google.com/accounts/o8/ud?source=profiles" /> 
		<link rel="openid2.local_id" href="http://www.google.com/profiles/bkhubbard" /> 
		
		<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
		
		<link rel="author" href="https://plus.google.com/105951994557667533128" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@bhubbard" />
		<meta name="twitter:creator" content="@http://www.twitter.com/bhubbard" />
		<meta property='og:locale' content='en_us' />
		<meta property='og:title' content='Brandon Hubbard | Los Angeles based Web Developer' />
		<meta property='og:description' content='Meet Brandon Hubbard, Web Developer of imFORZA.' />
		<meta property='og:url' content='http://brandonhubbard.com/' />
		<meta property='og:site_name' content='BrandonHubbard.com' />
		<meta property='og:type' content='' />
		<meta property='og:image' content='' />

		<link rel="shortcut icon" href="//www.gravatar.com/avatar/3596404cbc9ffb7d4f48524e08340d86?s=16" />
		<link rel="apple-touch-icon" href="//www.gravatar.com/avatar/3596404cbc9ffb7d4f48524e08340d86?s=16" />
		<meta name="msapplication-TileImage" content="http://www.gravatar.com/avatar/3596404cbc9ffb7d4f48524e08340d86?s=16" />

		
		
		<link href="//fonts.googleapis.com/css?family=Lato:100,300,700,300italic,700italic" rel="stylesheet" type="text/css"/>
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet" />
		<link href="//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css" rel="stylesheet" />
		
		<link href="/assets/css/custom.css" rel="stylesheet" />
		
		<!--[if lt IE 7]>
		<link href="//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome-ie7.css" rel="stylesheet">
		<![endif]-->
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js" type="text/javascript"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js" type="text/javascript"></script>

		<title>{% if page.title %} {{ page.title }} - {% endif %} BrandonHubbard.com</title>
	</head>

<body>

<header>
<div class="container">
<div class="row-fluid">
<div class="span8 offset2">

<h2 class="brand" id="logo">
			<a href="/"><img alt='' src="///www.gravatar.com/avatar/3596404cbc9ffb7d4f48524e08340d86.png" class="avatar" height="100" width="100" />
	<span class="brandon">BRANDON</span><span class="hubbard">HUBBARD</span></a>
	<div class="logo-page-title">//{% if page.title %} {{ page.title }} {% endif %}</div></h2>
<hr />
<br />

</div>
</div><!-- end row -->
</div>
</header>

<section>
  <div id="wrap">
      <div id="main">
<br />

<div class="container">
<div class="row-fluid">

<div class="span8 offset2">