<!DOCTYPE html>
<html lang="en-us" prefix="og: http://ogp.me/ns#">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <link rel="dns-prefetch" href="//www.gravatar.com" />
	<link rel="dns-prefetch" href="//plus.google.com" />
	<link rel="dns-prefetch" href="//fonts.googleapis.com" />
	<link rel="dns-prefetch" href="//disqus.com" />

	<meta name="alexaVerifyID" content="6Nc4ZVWkSlU1BhNk3AnFc6TEoaU"/>

	<meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- Google -->
    <link rel="author" href="https://plus.google.com/105951994557667533128">
    <meta name="author" content="Brandon Hubbard">
    <link rel="canonical" href="https://brandonhubbard.com{{ page.url }}">
    <meta name="description" content="{{ page.description }}">

	<!-- Open Graph -->
	{% include opengraph.html %}

	<!-- Twitter -->
	<meta property="twitter:card" content="summary" />
	<meta property="twitter:site" content="@brandonhubbard" />
	<meta property="twitter:creator" content="@bhubbard" />

	<meta name="twitter:card" content="summary">
	<meta name="twitter:url" content="">
	<meta name="twitter:title" content="">
	<meta name="twitter:description" content="">
	<meta name="twitter:image" content="">

	<meta name="twitter:image:width" content="600">
	<meta name="twitter:image:height" content="600">



    <title>
    {% if page.title %}
      {{ page.title }} &middot; {{ site.name }}
    {% else %}
      {{ site.tagline }} &middot; {{ site.name }}
    {% endif %}
	</title>

    <!-- CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:100,300,700,300italic,700italic">
    <link rel="stylesheet" href="/assets/css/general.css">

    <!-- icons -->
  	<link rel="shortcut icon" href="//www.gravatar.com/avatar/3596404cbc9ffb7d4f48524e08340d86?s=16" />
	<link rel="apple-touch-icon" href="//www.gravatar.com/avatar/3596404cbc9ffb7d4f48524e08340d86?s=16" />
	<meta property="msapplication-TileImage" content="http://www.gravatar.com/avatar/3596404cbc9ffb7d4f48524e08340d86?s=16" />

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  </head>
<body>

<div class="container">
<div class="row">
<div class="col-md-12">
<div class="brand">
<a href="/"><span class="brandon">BRANDON</span><span class="hubbard">HUBBARD</span><br />
	<span class="tagline">Website Design & Development</span>

</a>
<br />
</div>
</div>
</div>
</div>



<div class="main-menu">
<div class="container">
<div class="row">
<div class="col-md-12">
<nav>
<ul class="nav nav-pills nav-justified">
<li><a href="/">Home</a></li>
<li><a href="/projects.html">Projects</a></li>
<li><a href="/blog/">Blog</a></li>
<li><a href="/contact.html">Contact</a></li>
</ul>
</nav>

</div>
</div>
</div>
</div>
