/*###################################################

Main Theme Stylesheet

################################################### */
html,body {
	height:100%;
}

p {
	margin-bottom: 20px;
}

.post ul li {
	margin: 10px 0;
}

#wrap {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}


body {
	margin:0 auto;
	padding:80px 50px;
	color:#555;
	font:300 16px/26px Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
}


/* Logo Stuff */
.brandon {
	display:inline;
	color:#000;
	font-weight:300;
	font-size:30px;
}

.hubbard {
	display:inline;
	color:#000;
	font-weight:700;
	font-size:30px;
}

div.tagline {
	text-align: left;
	font-weight: 100;
	color: #000;
	font-size: 25px;
}
div#logo a {
	color:#ddd;
	text-decoration:none;
	font-size:26px;
}


pre,code {
	display:block;
	margin:10px 0;
	padding:15px 20px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	background-color:#222;
	color:#fff;
}

h1,h2,h3,h4 {
	color:#000;
	margin: 10px 0 0 0;
}

#top_time {
	color: #999;
}

h1 a, h2 a  {
	color:#000;
}

h1 a:hover,h1 a:focus, h2 a:hover,h2 a:focus {
	color:#000;
	text-decoration:none;
}

.avatar {
	overflow:hidden;
	margin:-12px 20px 20px 0;
	width:80px;
	height:80px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	display: inline-block;
	float: left;
}


.footer {
	margin-top:50px;
	padding:10px 0 40px;
	font-weight:200;
	font-size:15px;
}

/* Social Icons */
.social-icons a {
	padding:0 8px;
	color:#999;
}

.social-icons a:hover {
	color:#000;
	text-decoration:none;
}




ul.posts {
	margin: 0;
}
ul.posts li {
	list-style-type: none;
	padding: 0 0 20px 0;
	border-bottom: 1px solid #eee;
}

ul.posts li a {
	color: #000;
}

p.post_date {
	color: #ccc;
}


h3.hp-preview a {
	color: #000;
}

h3.hp-preview  {
	margin: 0;
	font-size: 16px;
	padding: 0;

}

p.post_date {
	margin-top: 10px;
}




/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	
	div.latest-posts {
	text-align: center;
}

p.post_date.pull-right {
	text-align: center;
	float: none;
	margin-top: -8px;
}
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
img.avatar {
	margin-left: 35%;
	margin-bottom: 15px;
	width: 100px;
	height: 100px;
}
div.latest-posts {
	text-align: center;
}

p.post_date.pull-right {
	text-align: center;
	float: none;
	margin-top: -8px;
}
 }









