/*###################################################

Main Theme Stylesheet

################################################### */
html,body {
	height:100%;
}

#wrap {
	min-height:100%;
}

body {
	margin:0 auto;
	padding:80px 50px;
	color:#555;
	font:300 16px/26px Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.brandon {
	display:inline;
	color:#000;
	font-weight:300;
	font-size:32px;
}

.hubbard {
	display:inline;
	color:#000;
	font-weight:700;
	font-size:32px;
}

h1#logo a {
	color:#ddd;
	text-align:center;
	text-decoration:none;
	font-size:26px;
}

.logo-page-title {
	display:inline;
	color:#ddd;
	font-weight:100;
	font-size:32px;
}

.breadcrumb {
	margin-top:-15px;
	padding-top:0;
	border-bottom:1px solid #eee;
	background:none;
}

.breadcrumb span.divider {
	margin:0 5px;
	color:#ddd;
}

ul.breadcrumb {
	padding-left:0;
}

span.breadcrumb_last {
	color:#999;
}

pre,code {
	display:block;
	margin:10px 0;
	padding:15px 20px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	background-color:#222;
	color:#fff;
}

h1,h2,h3,h4 {
	color:#000;
}

h1 a {
	color:#000;
}

h1 a:hover,h1 a:focus {
	color:#000;
	text-decoration:none;
}

h2 a {
	color:#000;
}

h2 a:hover,h2 a:focus {
	color:#000;
	text-decoration:none;
}

header.post-meta h3 a {
	color:#000;
}

header.post-meta h3 a:hover {
	color:#00a8ec;
	text-decoration:none;
}

.page-header {
	border:none;
}

header .well {
	margin:0;
	padding:0;
	border:none;
	border-radius:none;
	background:none;
	box-shadow:none;
}

.avatar {
	overflow:hidden;
	margin:0;
	margin-top:-10px;
	width:40px;
	height:40px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}

.footer {
	margin-top:50px;
	padding:10px 0 40px;
	font-weight:200;
	font-size:15px;
}

.social-icons a {
	padding:0 8px;
	color:#999;
}

.social-icons a:hover {
	color:#000;
	text-decoration:none;
}

.btn-inverse {
	border:none;
	background:#000;
}

.blog h3 a {
	margin:0;
	padding:0;
	color:#000;
}

.blog h3 a:hover {
	text-decoration:none;
}

.blog small {
	padding-top:-15px;
}

.blog .article {
	margin:25px 0;
	padding:0 0 40px;
	border-bottom:1px solid #eee;
}

.single-date {
	text-transform:uppercase;
}

.sticky {
}

.gallery-caption {
}

.bypostauthor {
}