body {
	font-family:'Lato',sans-serif;
}

h3 {
	margin:0;
	font-size:14px;
}

div.span2 {
	margin-top:10px;
}




/* Logo Stuff */
.brandon {
	display:inline;
	color:#000;
	font-weight:300;
	font-size:30px;
}

.hubbard {
	display:inline;
	color:#000;
	font-weight:700;
	font-size:30px;
}

h1.page-header {
	color:#000;
	font-weight:700;
	font-size:30px;
}

.avatar {
	display:inline-block;
	float:left;
	overflow:hidden;
	margin:20px 10px 20px 0;
	width:40px;
	height:40px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}


/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.avatar {
		display: block;
		margin: 10px auto;
		clear:both;
		float: none;
}
.body, h1, h2, h3, h4, .span2 {
	text-align: center;
}
p {text-align: justify;}
}



/* Print Mode */
@media print {
	.avatar {
		display:none;
	}
}