{% include header.html %}

  <body>


    <div class="container">

    <div class="content post">

<div class="row">
	  <div class="col-md-12">
    <h1>{{ page.title }}</h1>
    <h2>{{ page.subtitle }}</h2>
{{ page.content | number_of_words }} Words

      {{ content }}

	  </div>
	  </div>

	  <div class="row">
	  <div class="col-md-6">
	  	{{ page.author }}
	  </div>
	  	  <div class="col-md-6 text-right">
		  		<span class="post-date">{{ page.date | date: "%B %d, %Y" }}</span>
	 	  </div>
	  </div>

    </div>
    </div>

	  <div class="comments">
	  <div class="container">
	  <div class="row">
	   <div class="col-md-12">
	  <h2>Comments</h2>
	  <noscript>To view comments you must have javascript turned on.</noscript>
      <div id="disqus_thread"></div>
      
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Blog -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6567838737973180"
     data-ad-slot="9350817528"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
	   </div>
	  </div>
	  </div>
	  </div>



{% include footer.html %}
